@charset "utf-8";
* {
	margin: 0px;
	}
.cats {
	height: 400px;
	background-image: url(bg-image.jpg);
	background-size: cover;
	filter: grayscale(50%);
}
.kit {
	color: white;
	text-align: center;
	}
.content {
	padding-top: 10%;
}
.content h1 {
	line-height: 200%;
	font-size: -8vw;
}
.content p {
	line-height: 150%;
	font-size: -3vw;
}
.content button {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background: transparent;
	border: 2px solid #FFF;
	color: #FFF;
	border-radius: 15px;
	font-size: -2vw;
}
.content button:hover {
	border: 2px solid red;
}
